<h1>Welcome to Caesar Cipher</h1>

<form action="/action_page">
  <label for="input_string">Enter word(s) to encode:</label>
  <input type="text" id="input_string" name="input_string">
  <label for="char_shift">Enter character shift:</label>
  <input type="text" id="char_shift" name="char_shift">
  <input type="submit" value="Submit">
</form>